<h1>All Conferences</h1>

<ol>
  <% @conferences.each do |conference| %>
  <li>
    <a href="/conferences/<%= conference.id %>">
      <p><%= conference.name %></p>
      </a>
      <p>Date: <%= conference.date %> </p>
      <p>Added by: <%= conference.user.name %> </p>
  </li>
  <% end %>
</ol>
